@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@100;300;400;600;700;900&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 90px;
  font-weight: 600;
  font-family: "Raleway", serif;
  font-optical-sizing: auto;
  font-style: normal;
}

header {
  background: url(./img/head.png);
  width: 100vw;
  height: 1000px;
}

.nav-left {
  opacity: 0.78;
  font-size: 35px;
  color: #ffffff;
  font-weight: 700;
  font-family: "Raleway";
  text-decoration: none;
}
.nav-left a {
  opacity: 0.78;
  font-size: 35px;
  color: #ffffff;
  font-weight: 700;
  font-family: "Raleway";
  text-decoration: none;
}

.nav-right {
  display: flex;
  gap: 20px;
  list-style: none;
}

.nav-right a {
  opacity: 0.78;
  font-size: 35px;
  color: #ffffff;
  font-weight: 700;
  font-family: "Raleway";
  text-decoration: none;
}

.nav .nav-left .nav-right li {
  list-style: none;
  text-decoration: none;
}

/* container class */

.container {
  /* opacity: 0.82; */
  width: 758px;
  height: 472px;
  background-color: rgba(255, 255, 255, 0.82);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 20px;
}

.container .head1 {
  font-size: 104px;
  color: #2c3a42;
  font-weight: 400;
  font-family: "Cookie",cursive;
}

.container .head2 {
  font-size: 77px;
  text-transform: uppercase;
  color: #ad6c12;
  font-weight: 600;
  font-family: "Raleway", serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.container .read-more {
  font-size: 38px;
  color: #26363a;
  font-weight: 600;
  font-family: "Raleway";
  border: none;
  width: 266px;
  height: 59px;
  background-color: white;
}


/* FLAVOURS */

.flavours{
  background-color: rgba(42 , 59 , 64 , 255);
  display: flex;
  align-items: center;
  text-align: left;
  height: 557.68px;
  width: 100vw;
  gap:200px;
  padding: 20px;
  flex-wrap: wrap;
}

.content{
  align-items: center;
  text-align: center;
  display: flex;
  flex-direction: column;
  text-align: center;
  max-width: 50%;
}
.flavours .head{
font-size: 29px;
color: #ffffff;
font-weight: 700;
font-family: "Raleway";
}
.flavours .img2{
  background: url(./img/img2.png);
  height: 600px;
  width: 354px;
  background-repeat: no-repeat;
  background-size: contain;
  flex-shrink: 0;
  align-self: flex-end;
  transform: translateY(180px);
}

.flavours .info{
font-size: 19px;
line-height: 33px;
color: #ffffff;
font-weight: 400;
font-family: "Raleway";
width: 558px;
height: 228px;
}